@model DVDLibrary.Models.DVD
@{
    ViewBag.Title = "ReturnDVD";
}


<div class="row">
    <h2>Return DVD</h2>


    <div class="col-xs-12 col-sm-7">

        @using (Html.BeginForm("ReturnDVD", "Admin", null, FormMethod.Post, new { id = "dvdForm" }))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Thank you for returning <i>@Model.Title</i></h4>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label>Do you have anything you want to say about this movie?</label>
                        @Html.TextBoxFor(m => m.UserNotes, new { @class = "form-control" })
                    </div>



                    <button type="submit" class="btn btn-primary">Check in <i>@Model.Title</i></button>
                    @Html.ActionLink("Cancel", "Index", "Admin", null, new { @class = "btn btn-sm btn-info" })
                </div>
            </div>
        }
    </div>

</div>
